* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ccd6f6;
  outline: 1px solid slategrey;
}

.ml-rem {
  margin-left: 1rem;
}

.mr-rem {
  margin-right: 1rem;
}

.mb-rem {
  margin-bottom: 1rem;
}

.mt-rem {
  margin-top: 1rem;
}

.menu-btn {
  position: absolute;
  z-index: 9999;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #ccd6f6;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background: #ccd6f6;
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  background: #ccd6f6;
}

.menu {
  position: fixed;
  top: 0;
  width: 50%;
  opacity: 0.89;
  transform: translate(100%, 0);
  visibility: hidden;
  z-index: 99;
}

.menu.show {
  visibility: visible;
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #0a2d47;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  display: flex;
  background: #0a2d47;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  display: flex;
  width: 11rem;
  height: 11rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
}

.portrait-img {
  width: 10rem;
  border-radius: 50%;
  border: solid 3px #9966ff;
  align-self: center;
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
  :hover {
    cursor: pointer;
  }
}

.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #9966ff;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 369;
  color: #d6dffb;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #9966ff;
}

.nav-item:nth-child(1) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.4s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.6s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.8s;
}

* {
  box-sizing: border-box;
}

body {
  background: #0a192f;
  color: #ccd6f6;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body #bg-img {
  // background: transparent url("../assets/img/bgimg.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body #bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 73, 93, 0.27);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  text-shadow: 0px 1px 1px #4d4d4d;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(14, 47, 68, 0.5);
}

a {
  color: #ccd6f6;
  text-decoration: none;
}

.fa-2x {
  font-size: 2em;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.text-secondary {
  color: #9966ff;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
  color: #ccd6f6;
}

main .icons a:hover {
  color: #9966ff;
  transition: all 0.5s ease-out;
}

main #home {
  overflow: hidden;
}

main #home h1 {
  margin-top: 20vh;
}

.about-info {
  margin-right: 30px;
  display: grid;
  grid-gap: 50px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
}

.about-info .bio-image {
  width: 15rem;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #9966ff 3px solid;
}

.about-info .bio {
  grid-area: bio;
  font-size: 1.2rem;
}

.about-info .job-1 {
  grid-area: job1;
}

.about-info .job-2 {
  grid-area: job2;
}

.about-info .job-3 {
  grid-area: job3;
}

.about-info .job {
  background: #0a2d47;
  padding: 0.5rem;
  border-bottom: #9966ff 5px solid;
}

.projects {
  display: grid;
  margin-top: 75px;
  margin-bottom: 50px;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

.projects img {
  width: 100%;
  border: 3px #ccd6f6 solid;
}

.projects img:hover {
  opacity: 0.5;
  border-color: #9966ff;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 1.5rem;
  border: 1px #ccd6f6 solid;
  padding: 0.5rem 6rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 5.5rem;
  background: #9966ff;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #9966ff;
  color: #000;
}

.btn-dark {
  background: #0a2d47;
  color: #ccd6f6;
  font-weight: 600;
}

.btn-light {
  background: #ccd6f6;
  color: #333333;
  font-weight: 600;
}

.selective-img {
  display: block;
  margin: 0 auto 10% auto;
  height: 60%;
  width: 60%;
  background-color: powderblue;
  transition: transform 5s;
  transition-delay: 1s;
  border-radius: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
}

.map-field {
  display: block !important;
  width: auto;
  height: 50% !important;
  overflow: hidden !important;
  // position:absolute;
}

.form-input {
  width: 100%;
  border: 0;
  background: #0a2d47;
  height: 50px;
  font-size: 16px;
  color: #ccd6f6;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.msg {
  height: 6rem !important;
  padding: 1.3rem;
}

.form-button {
  width: 10rem;
  height: 3rem;
  font-size: 16px;
  color: #ccd6f6;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  align-self: flex-end;
  background: #0a2d47;
  cursor: pointer;
  border: 1px #ccd6f6 solid;
  transition: all 0.5s ease-out;
  -webkit-box-sizing: border-box;
  &:hover {
    background: #9966ff;
    transition: all 0.5s ease-out;
  }
}

.close-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  color: #ccd6f6;
  font-size: 16px;
  font-weight: bold;
  background: #0a2d47;
  margin: 8% 20% 0.5em auto;
  border: 2px solid;
  border-radius: 50%;
  opacity: 0.9;
  transition: all 0.3s ease-out;
}

.close-btn:hover {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.close-cross {
  height: 50%;
  align-self: center;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #072336;
  color: #ccd6f6;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }

  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  main .sm-heading {
    font-size: 1.2rem;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }

  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu .nav-link {
    font-size: 18px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }

  .menu-branding .portrait {
    width: 160px;
    height: 160px;
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .about-info .bio {
    font-size: 1rem;
    text-align: inherit;
  }

  .about-info .job {
    font-size: 12px;
  }

  .boxes div {
    font-size: 1rem;
    padding: 0.5rem 1rem !important;
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-field {
    width: 100%;
    padding-bottom: 1rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  .form-button {
    width: 7rem;
    height: 2rem;
    font-size: 14px;
  }

  .portrait-img {
    width: 8rem;
  }
}

@media screen and (max-width: 500px) {
  main #home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
